beautifulsoup4==4.5.3
click==6.7
coverage==4.2
cycler==0.10.0
Django==1.10.5
Flask==0.12
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.9.4
lxml==3.7.2
MarkupSafe==0.23
matplotlib==1.5.3
MySQL-python==1.2.3
numpy==1.12.0
oauthlib==2.0.1
pandas==0.19.2
pandas-datareader==0.3.0.post0
prettytable==0.7.2
pygame==1.9.1
pymongo==3.4.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.12.4
requests-file==1.4.1
requests-ftp==0.3.1
requests-oauthlib==0.7.0
six==1.10.0
tweepy==3.5.0
virtualenv==15.1.0
Werkzeug==0.11.15
